body{
  background-color: #66BFBF;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-size: 562.5%;
  color: #66BFBF;
  position: relative;
  bottom: 40px;
}

.smalldash{
  background-color: #66BFBF;
  border-style: dashed none none;
  border-width: 4px;
  width: 10%;
  position: relative;
  bottom: 120px;
}


.top-container{
  padding-top: 100px;
  text-align: center;
  background-color: black;
  padding-bottom: 120px;
}

.Heading-box{
  position: relative;
  width: 1000px;
  margin: auto;
}

.commenthead{
  font-family: 'Amatic SC', serif;
  font-size: 187.5%;
  color: #66BFBF;
  position: relative;
  bottom: 80px;
}

.cloud1{
  background-color: transparent;
  position: absolute;
  left: 0;
  width: 135px;
  height: 60px;
}

.cloud2{
  position: absolute;
  right: 70px;
  top: 30px;
  width: 135px;
  height: 60px;
}

.mashilogo{
  width: 210px;
  height: 210px;
}

.two{
  font-family: 'Amatic SC', serif;
  font-size: 187.5%;
  color: #66BFBF;
  position: relative;
  bottom: 110px;
}

.middle-container{
  background-color: #66BFBF;
  text-align: center;
}

.skill-row{
  position: relative;
  width: 1000px;
  margin: 100px auto 300px auto;
  text-align: left;
}

.skillimg{
  width: 40%;
  float: right;
  margin-left: 10px;
}

.skillimg2{
  width: 40%;
  float: left;
  margin-right: 30px;
}

.bottom-container{
  background-color: #F2EDD7;
  text-align:center;
}

.btn{
  background: white;
  background-image: -webkit-linear-gradient(top, black, black);
  background-image: -moz-linear-gradient(top, black, black);
  background-image: -ms-linear-gradient(top, black, black);
  background-image: -o-linear-gradient(top, black, black);
  background-image: -webkit-gradient(to bottom, black, black);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 30px;
  color: #66BFBF;
  font-family: Brush Script MT;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 1px 1px 20px 0 lightblue;
  -moz-box-shadow: 1px 1px 20px 0 lightblue;
  box-shadow: 1px 1px 20px 0 lightblue;
  text-shadow: 1px 1px 20px black;
  border: solid lightblue 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.dotted{
  position: relative;
  bottom: 10px;
  border-style: dotted none none;
  border-width: 5px;
  color: pink;
}
