body{
  background-color: #A19882;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-size: 562.5%;
  color: black;
  position: relative;
  bottom: 40px;
}

.smalldash{
  background-color: #A19882;
  border-style: dashed none none;
  border-width: 4px;
  width: 10%;
  position: relative;
  bottom: 120px;
  right: 28px;
}


.top-container{
  padding-top: 350px;
  text-align: center;
  background-image: url('../images/drawingroom3.JPG');
  padding-bottom: 220px;
  background-repeat: no-repeat;
  background-size: cover;
}

.Heading-box{
  position: relative;
  width: 1000px;
  margin: auto;
}


.mashilogo{
  width: 210px;
  height: 210px;
}

.commenthead{
  font-family: 'Amatic SC', serif;
  font-size: 187.5%;
  font-weight: bolder;
  color: black;
  position: relative;
  bottom: 80px;
  right: 28px;
}

.two{
  font-family: 'Amatic SC', serif;
  font-size: 187.5%;
  font-weight: bolder;
  color: black;
  position: relative;
  bottom: 110px;
  right: 28px;
}

.middle-container{
  background-color: #A19882;
  text-align: center;
}

.skill-row{
  position: relative;
  width: 1000px;
  margin: 100px auto 300px auto;
  text-align: left;
}

.skillimg{
  width: 40%;
  float: right;
  margin-left: 10px;
}

.skillimg2{
  width: 40%;
  float: left;
  margin-right: 30px;
}

.bottom-container{
  background-color: #F2EDD7;
  text-align:center;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   font-weight: 100;
   padding: 10px;
   margin: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.dotted{
  position: relative;
  top: 232px;
  border-style: solid none none;
  border-width: 5px;
  color: black;
}

.dotted1{
  position: relative;
  bottom: 0.2px;
  width: 100%;
  border-style: solid none none;
  border-width: 5px;
  color: black;
}

.mb-auto{
  background-color: white;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.company_name{
  font-family: 'Uchen', serif;
  float: left;
  color: #865439;
  margin-left: 20px;
  font-size: 30px;
  padding-top: 10px;
}

nav{
  float: right;
  padding-right: 20px;
  padding-top: 28px;
}

.mashilogo1{
  float: left;
  width: 55px;
  height: 55px;
  margin-left: 20px;
  margin-top: 7px;
}

.nav-link{
  margin: 20px;
  color: #865439;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}

.nav-link:hover{
  color: #000
}

.nav-link::before{
  content: '';
  display: inline-block;
  height: 5px;
  width: 0;
  background-color: #444;
  position: absolute;
  bottom: 20px;
  transition: all ease-in-out 250ms;
}

.nav-link:hover::before{
  width: 100%
}
