body{
  background-color: #E4EFE7;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-size: 562.5%;
  color: #66BFBF;
  position: relative;
  bottom: 40px;
}

hr{
  background-color: #66BFBF;
  border-style: dashed none none;
  border-width: 4px;
  width: 10%;
  position: relative;
  bottom: 120px;
}

.cloud1{
  position: absolute;
  right: 17.5%;
}

.cloud2{
  position: absolute;
  left: 17.5%;
  top: 27.75%;
}

.mashilogo{
  width: 13.125%;
  height: 13.125%;
}

.outerview{
  width: 450px;
  height: 250px;
}

.top-container{
  padding-top: 100px;
  text-align: center;
  background-color: black;
  padding-bottom: 120px;
}

.middle-container{
  background-color: #F0D9E7;
  text-align: center;
}

.bottom-container{
  background-color: #F2EDD7;
  text-align:center;
}

.commenthead{
  font-family: 'Amatic SC', serif;
  font-size: 187.5%;
  color: #66BFBF;
  position: relative;
  bottom: 80px;
}

.two{
  font-family: 'Amatic SC', serif;
  font-size: 187.5%;
  color: #66BFBF;
  position: relative;
  bottom: 110px;
}
